<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RU-TR File translator</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

<h2>Upload file</h2>

<form id="upload-form" enctype="multipart/form-data">
    Choose a file for upload:
    <input type="file" name="file" placeholder="Выберите файл">
    <input type="submit" value="Translate the file" disabled>
</form>

<progress id="progress-bar" value="0" max="100"></progress>

<h2>Download file</h2>

<form id="download-form" method="get">
    <button type="submit" disabled>Download</button>
</form>

<script src="static/js/script.js"></script>

</body>
</html>